<div class="welcome">
  <span class="hello"><p>Go there. Find the best passage to hidden locations.</p></span>
  <p>Search for a passage or explore popular passages below.</p>
</div>

<section>
  <span class="banner" id="slideshow">
    <% @randLocations.each do |location| %>
      <% if location.routes.first != nil %>
        <a href="/locations/<%= location.id %>" class="slide" id="slide<%=@slideNumber%>">
          <img src="<%=location.routes.first.img.url%>" alt="">
          <% @slideNumber += 1 %>
          <div>
            <h2><span><%=location.name%></span></h2>
          </div>
        </a>
      <% end %>
    <% end %>
  </span>
</section>

<section id="get-started">


  <div class="start">
    <span class="close"><button><i class="fa fa-times" aria-hidden="true"></i></button></span>

    <h2 id="greeting">
      <span>p</span><span>a</span><span>s</span><span>s</span><span>a</span><span>g</span><span>e</span>
    </h2>
    <div id="fix-start">
      <p>Find your passage</p>
      <span id="register"><button type="button">Get Started</button></span>
      <span id="login"><button type="button">Log In</button></span>
      <span class="overlay-back">
        <button>
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </button>
      </span>
    </div>
  </div>

  <div class="register">
    <span class="close"><button><i class="fa fa-times" aria-hidden="true"></i></button></span>

    <h3>Hello, Passenger!</h3>
    <p>Journey along with others.</p>
    <p>Join to share and upvote passages.</p>
    <%= @msg %>

    <form action="/register" method="post">
      <input name="email" type="text" placeholder="email" autofocus>
      <input name="password" type="password" placeholder="password">
      <input name="username" type="text" placeholder="username">
      <button>Sign Up</button>
    </form>
    <span class="overlay-back">
      <button>
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </button>
    </span>
  </div>

  <div class="login">
    <span class="close"><button><i class="fa fa-times" aria-hidden="true"></i></button></span>

    <h3>Welcome back, Passenger!</h3>
    <p>Where would you like to go today?</p>
    <p>A new journey awaits.</p>
    <br>
    <%= @msg %>
    <form action="/session" method="post">
      <input name="username" type="text" placeholder="username" autofocus>
      <input name="password" type="password" placeholder="password">
      <button>Log In</button>
    </form>
    <span class="overlay-back">
      <button>
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </button>
    </span>
  </div>

</section>
