<section>
  <h2> Passages to <%= @name %> </h2>
    <table>
      <% @orderedlist.each do |key, value| %>
      <tr>

          <td class="thumbnail">
            <a href="/locations/<%= params[:locationid] %>/<%= value[1] %>" class="list">
              <%= @number %>
            </a>
          </td>

          <td class="thumbnail">
            <a href="/locations/<%= params[:locationid] %>/<%= value[1] %>">
              <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              <%= value[0] %>
            </a>
          </td>

          <td class="thumbnail">
            <a href="/locations/<%= params[:locationid] %>/<%= value[1] %>">
              <img src="<%= value[2] %>" alt="">
            </a>
          </td>

          <td class="route-link">
            <a href="/locations/<%= params[:locationid] %>/<%= value[1] %>">
              <%= key %>
            </br>
              <span class="subheading">
                last edited on <%= value[3] %> by <%= value[4] %>
              </span>
            </a>
          </td>

      </tr>
      <% @number += 1 %>
    <% end %>

    <tr class="empty-row">

    </tr>

    <tr>
      <td colspan="3">
      </td>
      <td colspan="1" class="right">
          <% if logged_in? %>
            <a href="/locations/<%=params[:locationid] %>/new">
              Share a Passage?
            </a>
          <% else %>
            <a href="/session/new">Login</a> or <a href="/register">register</a> to share your passage.
          <% end %>
      </td>
    </tr>

  </table>
</section>
