<section class="edit">
  <form action="/locations/<%= params[:locationid]%>/<%= params[:routeid]%>" method="post" enctype="multipart/form-data" class="passageshare">

    <input name="title" type="text" placeholder="Passage Title" class="route-title" value="<%=@route.title%>">

    <textarea name="description" id="" cols="30" rows="10"><%= @route.description %></textarea>
    <script>
      CKEDITOR.replace( 'description', {
        width: '100%',
        height: '100%'
      });
    </script>
    </br>

      <input type="file" name="img" class="carrierwave"/>
      <button class="share">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
      </button>
    </form>

  <form action="/locations/<%=@route.location_id%>/<%= @route.id%>" method="get" class="back">
    <button>
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </button>
  </form>

  <form action="/locations/<%=@route.location_id%>/<%= @route.id %>/delete" method="post" class="delete">
    <button>
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    </button>
  </form>

</section>
