<h2>ASK PASSERS</h2>
<form action="/locations/<%= params[:locationid]%>/<%= params[:routeid]%>" method="post" enctype="multipart/form-data">

  <label for="">Title</label>
  <input name="title" type="text" value="<%=@route.title%>">

  <label for="">Summary</label>
  <textarea name="description" id="" cols="30" rows="10"><%= @route.description %></textarea>

  <label for="">Image</label>
    <input type="file" name="img" />
    <button>upload</button>
  </form>


  <button>UPDATE PASSAGE</button>
</form>

<form action="/locations/<%=@route.location_id%>/<%= @route.id %>/delete" method="post">
  <button>DELETE PASSAGE</button>
</form>
