<section>
  <h2> <%= @title %></h2>

  <table>

    <tr class="notbody">
      <td colspan="5">
        <img src="<%=@img%>" alt="" width="100%">
      </td>
    </tr>

    <tr class="notbody">
      <td>last edited:</td>
      <td><%= @date %></td>
      <td>author:</td>
      <td><%= @author_id %></td>
      <td>
        <form action="/locations/<%=@route.location_id%>/<%=@route.id%>/bump" method="post" class="vote">
        <button></button>
        <%=@votes%>
        </form>
      </td>
    </tr>

    <tr>
      <td colspan="5"><%= @description %></td>
    </tr>

    <tr class="notbody">
      <td colspan="4"></td>
      <td>
        <a href="/locations/<%=@route.location_id%>/<%=@route.id%>/edit">edit</a>
      </td>
    </tr>

  </table>

  <%= @msg %>

</section>
