<section>
  <h2>Search Results</h2>

  <div class="new">

    <% if @results.empty? %>
      <p class="list">0 search results</p>
      <section class="new">
          <form action="/locations" method="post" class="request">
            <input name="location" type="text" placeholder="Request Passage from other Passers" class="route-title" autofocus>
          </br><br>
            <button>ASK PASSERS</button>
          </form>
      </section>
    <% else %>
      <% @results.each do |result| %>
        <span class="banner location">
          <% if result.routes.first != nil %>
            <a href="/locations/<%= result.id %>">
              <img src="<%=result.routes.first.img.url%>" alt="">
              <div>
                <h2><span><%=result.name%></span></h2>
              </div>
            </a>
          </span>
        <% elsif result.routes.empty? %>
          <p class="list">0 passages available for <%= result.name %></p>
          <a href="/locations/<%= result.id %>/new">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <span class="subheading">Share a Passage?</span>
        <% end %>
      <% end %>
    <%end%>
  </div>
</section>
